<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">MyCompany</a>
      <button class="button navbar-burger" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active': toggleNav }">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu navbar-end" [ngClass]="{'is-active': toggleNav }">
      <a routerLink="/" class="navbar-item r-item">Home</a>
      <a routerLink="faq" class="navbar-item r-item">Features</a>
      <a routerLink="faq" class="navbar-item r-item">About</a>
      <a routerLink="faq" class="navbar-item r-item">Faq</a>

      <div class="navbar-item">
        <p class="control">
          <a class="button is-primary is-outlined">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span> Join Now</span>
          </a>
        </p>
      </div>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>And this right here is a spiffy footer, where you can put stuff.</p>
      </div>
      <div class="column has-text-right">
        <a class="icon" href="#"><i class="fa fa-facebook"></i></a>
        <a class="icon" href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
