.is-primary a {
  color: #1EC9AC; }

.navbar {
  background-color: #383838; }
  .navbar a:hover {
    color: gray; }

.navbar-brand a {
  color: #fff;
  font-weight: bold; }
  @media screen and (min-width: 1000px) {
    .navbar-brand a {
      padding-left: 0; } }

@media screen and (min-width: 1000px) {
  .navbar-menu.navbar-end .navbar-item:last-child {
    padding-right: 0; } }

a.r-item {
  color: #c1c1c1;
  padding: 0.5rem 1.75rem;
  background: transparent !important; }
  a.r-item:hover {
    color: #f9f9f9; }
  @media screen and (max-width: 768px) {
    a.r-item {
      color: gray !important; }
      a.r-item:hover {
        background-color: #f1f1f1; } }

.navbar-menu.is-active a:hover {
  color: gray !important; }

nav .navbar-burger, nav .navbar-burger.is-active {
  color: #1EC9AC !important;
  background-color: transparent;
  border: 0;
  box-shadow: none; }
